/*#mainWindow { 
background-image: -gtk-gradient (linear,
             left top,
             left bottom,
             color-stop(0.0,rgba(34,97,170,1)),
             color-stop(0.50,rgba(56,145,218,1)),
             color-stop(0.51,rgba(34,131,216,1)),
             color-stop(1.00,rgba(134,191,234,1)));
}
*/

#loginGrid {
    background-image: image(url("bg_medh.png"), green);
    background-repeat: no-repeat;
    background-size: 30%;
    /*background-image: -gtk-gradient(linear, left top, left bottom,
    color-stop(0.0, #4CA1AF), color-stop(1.00, #C4E0E5));*/
}

label.loginTitle {
    font-size: 60px;
    font-style: italic;
    font-weight: bold;
    color: #5f5f5f;
}

row.activatable:nth-child(even) {
    background-color: #e8e8e8;
}

row.activatable:nth-child(odd) {
    background-color: #cccccc;
}

row.activatable:hover {
    background-color: #507DBC;
}